# Main application libraries
fastapi
uvicorn
python-dotenv
python-multipart
websockets

# Database (for Supabase/PostgreSQL)
sqlalchemy
asyncpg

# S3 library for Storj
boto3

# Other utilities
pydantic
python-jose
passlib
